<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lepo.js New Project</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="app"></div>
  <center>
 
  <h1>Lepo.js Project </h1>
  <p>Congrats, You have Compiled a Lepo.js Project Succesfully</p>
  <br>
  <p align="center">
    <img width="500" height="500" src="https://github.com/moataz2002/Lepo.js/raw/master/templates/project_template/Logo.png" >
 </p> 
 <br>
</center>
  <script src="main.js"></script>
</body>
</html>
